# Created by .ignore support plugin (hsz.mobi)
.idea
guitar_recordings/**
neural_network/plots/*
neural_network/models/*
audio_processing/plots/*
resources/*
models/neural_network/*.pkl
models/polynomial/*.pkl
models/random_forest/*.pkl